:root {
    --addons-verified: var(--cs-btn-primary-background);
    --cs-addons-stars-full: url('../templates/icons/star.svg');
    --cs-addons-stars-half: url('../templates/icons/star_half_full.svg');
    --cs-addons-stars-empty: url('../templates/icons/star_empty.svg');
    --cs-addons-accent-color: var(--cs-btn-warning-background);
}
