.object-picker--companies {
  .select2-search__field {
    margin-bottom: 0;
    width: 100% !important;
  }
}
.object-picker__select-group--companies {
  .object-picker__simple {
    .select2-search__field {
      width: 100% !important;
    }

    .select2-selection__choice {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 0;
    }
  }
}

.control-group.error {
  .object-picker__select-group--companies {
    .select2-selection {
      border-color: var(--cs-error-text);
    }
  }
}

.dropdown-menu .object-picker--companies .select2-selection--single {
  padding-top: var(--cs-dropdown-item-padding);
  padding-bottom: var(--cs-dropdown-item-padding);
  height: auto;
  border-radius: var(--cs-base-border-radius);
}

.dropdown-menu .object-picker--companies .select2-container--default.select2-container:hover .select2-selection--single .select2-selection__arrow b {
  border-left-color: var(--cs-dropdown-link-color-hover);
}

.object-picker__simple--companies {
  height: auto;
}

.object-picker--companies .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: ~"calc(6px * 2 + 20px)";
  transform: translateY(-1px);
}

.object-picker__companies-name-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
